.custom{
    width:100%;
}

.active-2 {
    color: rgb(92, 92, 92) 
}

.breadcrumb {
    padding: 0px;
    font-size: 10px;
    color: #aaa !important;
}

a {
    text-decoration: none !important;
    color: #aaa ;
}